
p.number0 img {
   position: absolute;
   width:50px;
   clip: rect(100px, 50px, 150px, 0px);
   margin-left: 50px;
   margin-top: 21px;
}

p.number1 img {
   position: absolute;
   width:50px;
   clip: rect(100px, 50px, 150px, 0px);
   margin-left: 101px;
   margin-top: 21px;
}

p.number2 img {
   position: absolute;
   width:50px;
   clip: rect(0px, 50px, 50px, 0px);
   margin-left: 152px;
   margin-top: 121px;
}

p.number3 img {
   position: absolute;
   width:50px;
   clip: rect(0px, 50px, 50px, 0px);
   margin-left: 203px;
   margin-top: 121px;
}

p.number4 img {
   position: absolute;
   width: 50px;
   clip: rect(0px, 50px, 50px, 0px);
   margin-left: 263px;
   margin-top: 121px;
}
p.number5 img {
   position: absolute;
   width:50px;
   clip: rect(0px, 50px, 50px, 0px);
   margin-left: 314px;
   margin-top: 121px;
}
p.number6 img {
   position: absolute;
   width:50px;
   clip: rect(0px, 50px, 50px, 0px);
   margin-left: 365px;
   margin-top: 121px;
}